/* Dual use CSS */

@font-face{
    font-family: "KGBSketch";
src: url("KGBlankSpaceSketch.ttf");
}
body{
    background-repeat: no-repeat;
    background-size: 300%;
    background-color: bisque; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('shutterstock_1383065213.jpg')
}
#mainHeader{
    color: black;
    text-shadow: 8px white;
    text-align: center;
   font-family: KGBSketch;
  ;
   position: relative;
   bottom: 25px;
   height: fit-content;
   background-color: bisque;
}

#login{

}

#HypeContainer{
    margin: 50px auto;
    width: 600px;
   
}

#backgroundHelp{
    width: 100%;
    background-color: bisque;
}


#potluckHype{
    text-align: center;
    background-color: bisque;
}

.section-meals {
    padding: 0;
    position: relative;
    right: auto;
}

.meals-showcase {
   list-style: none;
   width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

#Q{
 color: orangered;
 text-align: center;
 font-family: cursive;
}

/* signup form specific css */
#signup{
    list-style: none;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    color: black;
}
#signupTXT{
    text-align: center;
    font-family: cursive;
    color: white;
}