/* Dual use CSS */

@font-face{
    font-family: "KGBSketch";
src: url("KGBlankSpaceSketch.ttf");
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 10%;
    background-color: bisque; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('shutterstock_1383065213.jpg')
}
#hamburger{
position: relative;
border-radius: 75px;
top: 20px;
left: 800px;
width: 50px;
background-color: orangered;
color: white;
}

#mainHeader{
    color: black;
    text-shadow: 8px white;
    text-align: center;
   font-family: KGBSketch;
  ;
   position: relative;
   bottom: 25px;
   height: fit-content;
   background-color: bisque;
}

#login{

}

#HypeContainer{
    margin: 50px auto;
    width: 600px;
   
}

#backgroundHelp{
    width: 100%;
    background-color: bisque;
}


#potluckHype{
    text-align: center;
    background-color: bisque;
}

.section-meals {
    margin: 0, auto;
    display: flex;
}

.mealbtn{
    margin: 20px;
    padding-left: 120px;
}


.meals-showcase {
   list-style: none;
   width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.meal-photo img {
    opacity: 0.7;
    width: 320px;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    background-color: orangered;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

#Q{
    padding-top: 20px;
 color: orangered;
 text-align: center;
 font-family: cursive;
}

#ask{
    border-radius: 100px;
}

.rand{
    text-align: center;
    color: white;
    width: 100px;
}


#bannerList{
    list-style: none;
    text-align: center;

}

#bannerList li{
    display: block;
    float: left;
}

#randheader{
    color: white;
    text-align: center;
    font-family: cursive
}

#randlist{
    list-style: none;
    text-align: center;
    color: white;
    text-align: center;
    margin-left: 190px;

}

#randlist li{
    display: block;
    float: left;
    width: 145px;
    margin: 50px;
}

#randbubbles{
    background-color: black;
    margin: 40px auto;
}

#newUserName{
    margin: 15px;
}

/* signup form specific css */
#signup{
    padding: 10px;
    list-style: none;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    color: white;
}
#signupTXT{
    text-align: center;
    font-family: cursive;
    color: white;
}